*{
    margin: 0;
    padding: 0;
}

body {
    background-color:#548687;
    text-align: center;
}
#logo
{
    color: white
}

.container {
    height: 70vh ;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    

}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem  rgba(183, 26, 149, 0.589);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset-btn {
     padding: 1rem;
     font-size: 1.25rem;
     background-color: #191913;
     color: #fff;
     border-radius: 1rem;
     border: none;
     
}
#new-btn {
    padding: 1rem;
     font-size: 1.25rem;
     background-color: #191913;
     color: #fff;
     border-radius: 1rem;
     border: none;
}

#mgs {
    color: yellowgreen;
    font-size: 5vmin;
    font-weight: bold;
}
.mgs-cintainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
.hide {
    display: none;
}